<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="name.monwf.miuil10n">


	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.DUMP" />

	<uses-permission android:name="miui.permission.READ_LOGS" />
	<uses-permission android:name="miui.permission.DUMP_CACHED_LOG" />

	<application
		android:allowBackup="false"
		android:hardwareAccelerated="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:usesCleartextTraffic="true"
		tools:ignore="GoogleAppIndexingWarning"
		tools:targetApi="r">

		<meta-data android:name="xposedmodule" android:value="true" />
		<meta-data android:name="xposedminversion" android:value="82" />
		<meta-data android:name="xposeddescription" android:value="miui eu's l10n by mocking miui.os.Build->IS_INTERNATIONAL_BUILD" />
		<meta-data android:name="xposedsharedprefs" android:value="true" />
		<meta-data android:name="xposedscope" android:resource="@array/xposed_scopes" />
	</application>

</manifest>